<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Test Task" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Test Task" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="flex-shrink-0">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer class="footer mt-auto py-3 bg-white border-top shadow-sm">
      <div class="container">
        <%= render 'layouts/footer' %>
      </div>
    </footer>
  </body>
</html>
